{% extends "network/layout.html" %}
{% load static %}
{% block head %}
<link href="{% static 'network/styles.css' %}" rel="stylesheet">
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="app-container">
     <div class="layout-wrapper">
        <aside id="sidebar" class="sidebar-left">
          <div class="nav-item active">🏠 Home</div>
          <div class="nav-item">🔥 Popular</div>
          <div class="sidebar-divider">Communities</div>
          {% for community in communities %}
            {% include "network/community.html" %}
          {% endfor %}
        </aside>

      <main class="feed">
        <div class="social-status-bar">
          <div class="social-item">
            <div class="avatar-wrapper">
              <img src="{{ user.profile_pic.url }}" alt="You" class="avatar">
              <span class="status-indicator online"></span>
            </div>
            <span class="social-name">You</span>
          </div>

          <div class="social-item">
            <div class="avatar-wrapper">
              <div class="avatar-placeholder">V</div>
                <span class="status-indicator online"></span>
            </div>
            <span class="social-name">Vishal</span>
          </div>
        </div>

        <div id="post-container" data-has_next="{{ has_next }}">
          {% include "network/post_list.html" %}
        </div>
      </main>

      <aside class="sidebar-right">
        <div class="info-right">
          <h3>About Community</h3>
          <p>Welcome to Trollit! Chill and have fun.</p>
          <button class="btn-primary">Create Post</button>
        </div>
      </aside>
    </div>
  </div>
{% endblock %}
