{% extends "network/layout.html" %}
{% load static %}
{% block head %}
<link href="{% static 'network/styles.css' %}" rel="stylesheet">
<script> const logInUrl = "{% url 'network:login' %}" </script>
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="app-container">
     <div class="layout-wrapper">
        <aside id="sidebar" class="sidebar-left">
          <div class="nav-item active">🏠 Home</div>
          <div class="nav-item">🔥 Popular</div>
          <div class="sidebar-divider">Communities</div>
          {% for community in communities %}
            {% include "network/community.html" %}
          {% endfor %}
        </aside>

      <main class="feed">
        <div class="social-status-bar">
          <div class="social-item">
            <div class="avatar-wrapper">
              <img src="{{ user.profile_pic.url }}" alt="You" class="avatar">
              <span class="status-indicator online"></span>
            </div>
            <span class="social-name">You</span>
          </div>

          <div class="social-item">
            <div class="avatar-wrapper">
              <div class="avatar-placeholder">V</div>
                <span class="status-indicator online"></span>
            </div>
            <span class="social-name">Vishal</span>
          </div>
        </div>

        <div id="post-container" data-has_next="{{ has_next }}">
          {% include "network/post_list.html" %}
        </div>
      </main>

      <aside class="sidebar-right">
        <div class="info-right">
          <h3>About Community</h3>
          <p>Welcome to Trollit! Chill and have fun.</p>
          <button id="open-form" class="btn-primary">Create Post</button>
        </div>
      </aside>
    </div>
  </div>

<div class="form-wrapper">
  <div class="form-content">
    <form action="#" method="post">
      {% csrf_token %}
      <div class="form-group">
        <h5 class="label">TITLE</h5>
      <input class="form-control" autofocus placeholder="Title" type="text" name="title">
      </div>
      <div class="form-textarea">
        <p class="label">CONTENT</p>
        <textarea class="form-control" name="content"></textarea>
      </div>
      <div class="form-group">
        <h5 class="label">URL</h5>
      <input class="form-control" placeholder="link to url" type="text" name="url">
      </div>
      <div class="form-group">
        <p class="label">IMAGE</p>
        <input class="form-cotrol" type="file" accept="image/*" name="image">
      </div>
      <div class="align-center">
      <a href="#" class="btn-primary">SUBMIT</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
