{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
          <nav class= "navbar">
            <div class="nav-left">
              <button id="toggle-sidebar" class="nav-toggle">☰</button>
              <a href="{% url 'network:index' %}">Trollit.</a>
            </div>
            <div class="search-box">
              <i>🔍</i><input type="text" placeholder="Search Trollit">
            </div>
            <div class="nav-right">
            {% if user.is_authenticated %}
            <div class="social-icon">{{ user.profile_pic.url }}</div>
            <button class="btn-logout">
              <a href="{% url 'network:logout' %}">Logout</a>
            </button>
            {% else %}
            <button class="btn-primary"><a href="{% url 'network:login' %}">Login</a></button>
            {% endif %}
          </nav>

          <div class="body">
              {% block body %}
              {% endblock %}
          </div>
    </body>
</html>
